.main{
	border-radius: 10px;
	background-color: #F0FFFF;
	text-align: center;
	list-style: none;
	margin-top: 10px;
	padding: 10px;
}

h1{
	font-size: 22pt;
}

ul{
	font-size: 16pt;
}

#main span{
	text-align: center;
	font-size: 22pt;
}

#main{
	font-size: 16pt;
}

.main2{
	border-radius: 10px;
	background-color: #F0FFFF;
	margin-top: 10px;
	padding: 10px;
	font-size: 16pt;
}